.grid-container {
    position: relative;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: minmax(60px, 6%) minmax(300px, 20%) minmax(535px, 53%) minmax(300px, 21%);
    grid-template-rows: 6% 59% 35%;
    grid-template-areas:
        "sider title title title"
        "sider chatList chatroom chatInfo"
        "sider groupList chatroom chatInfo";
}

.siderGrid {
    grid-area: sider;
}

.titleGrid {
    grid-area: title;
}

.chatListGrid {
    grid-area: chatList;
}

.chatroomGrid {
    grid-area: chatroom;
}

.chatInfoGrid {
    grid-area: chatInfo;
}

.groupListGrid {
    grid-area: groupList;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(209, 208, 211);
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #929292;
}